<!DOCTYPE html>
<html>
  <head>
    <title>WhiteEHR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <% if current_physician %>
  
    <script>
      window.currentPhysician = <%= render(
        "api/physicians/physician.json.jbuilder",
        physician: current_physician
      ).html_safe %>
    </script>

  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
